.Nav{
  
}
.wrapper{
    width: 1280px;
    height: 92px;
    display: flex;
    align-items: center;
   justify-content: space-between;

}
.logo{
    display: flex;
    font-weight: 600;
    font-size: 32px;
    align-items: end;
    
}
.logo_H{
    font-weight: 600;
    font-size: 32px;

}
.logo_dot{
    font-size: 16px;
}
.link{
    padding: 12px 24px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: var(--transition);
}
.link:hover{
    color:  #6e45e9;
}