@keyframes slider {
    from{
        transform: translateX(0) ;
    }
    to{
        transform: translateX(-100%);
    }
}



.Friend{
    width: 100%;
    background: #1E1E30;
    display: flex;
    padding: 48px 0px;
    align-items: flex-start;
    overflow:hidden;
    
	
}
.wrapper{
    white-space: nowrap;
    overflow:hidden;
    
    width: 100%;
}
.wrapper_inner{
    white-space: nowrap;
    display: inline-block;
    align-items: center;
    animation: 15s slider infinite linear ;
    
}
.inner{
    display: flex;
    align-items:center;
}
.inner img{
    margin: 0 3rem;
}
.text{
    display: flex;
    font-size: 18px;
    align-items: flex-end;
    margin: 0 5rem;
    
}
.logo{
    display: flex;
    font-weight: 600;
    font-size: 24px;
    align-items: flex-end;
    margin : 0 5px;
}
.company{
    font-size: 18px;
    font-weight: 400;
}


