
.icon{
    color:rgba(255, 255, 255, 0.40) ;
    font-size: 32px;
    transition: var(--transition);
    
}
.icon:hover{
    color: #fff;
    

}
.iconBorder{
    display: flex;
    
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 4px;
    transition: var(--transition);
}

.wrapper{
    
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    
}
@media screen and (max-width: 1415px){
    .wrapper{
        display: none;
    }
    
} 
