
.wrapper{
    width: 1280px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logos{
    width: 150px;
}
.logo_H{
    font-weight: 600;
    font-size: 32px;

}
.logo_dot{
    font-size: 16px;
}
.link_wrap{
    display: flex;
}
.link{
    padding: 12px 24px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: var(--transition);
}
.link:hover{
    color:  #6e45e9;
}
@media screen and (max-width: 1415px) {
    .wrapper{
        width: 1000px ;
    }
}
@media screen and (max-width: 1050px){
    .link_wrap{
        display: none;
    }
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        font-size: 34px ;
    }
    .logo_dot{
        font-size: 24px;
    }
}