.wrapper{
    display: flex;
    width: 1280px;

    /* align-items: center; */
    flex-direction: column;
    margin: 48px 0;
}
.title{
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 67.2px;
    background: linear-gradient(180deg, #FFF 50%, rgba(255, 255, 255, 0.66) 76%, rgba(255, 255, 255, 0.33) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 528px;
   
    margin:0 auto 70px auto ;
}
@media screen and (max-width: 1415px){
    .title{
        font-size: calc(24px + 32 * (100vw / 1280));;
        line-height: normal;
        text-wrap: wrap;
        width: 100%;
    }
    .wrapper{
        width: 100%;
        justify-content: center;
    }
    .Reviews{
        width: 80%;
        margin: 10% 10%;
    }
    
} 
