.wrapper{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    flex-direction: column;
    margin-top: 110px;
    
}
.Offers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_card{
    display: flex;
}

