.logo{
    display: flex;
    
    font-size: 32px;
    align-items: flex-end;
}
.logo img{
    width: 200px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    align-items: center;
    margin-top: 110px;
    
}
.Footer{
    border-top: #4b4a4a 2px solid;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    color: #fff;
}

.contact{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.a{
    margin: 10px  0  10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}
.a:hover{
    color: #6E45E9; 

}
.icon{
    margin-right: 10px;
}
@media screen and (max-width: 1415px){
    .wrapper{
        width: 100%;
      margin-top: 50px;
    }
    .Footer{
        width: 80%;
        margin: 0 10%;
        margin-top: 70px;
    }
    
    
} 
@media screen and (max-width: 1415px){
    .wrapper{
        width: 100%;
        flex-direction: column;

    }
    .logo{
        margin-bottom: 50px;
    }
    
    
}